
body{
    background-image: url("https://images8.alphacoders.com/891/891865.jpg");


}
.layout-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f8f9fa12;
    color: #d04c99;
    font-size: 14px;


   

}

.layout-footer{
    color:white;
    font-size: 30px;
    padding: 20px;
}

.content{
    display:inline;
    list-style: none;

 
    
}
ul{
    gap: 15px;
    display: inherit;
    padding: 30px;
}



 li{
   
    list-style: none;
  
}
li > a{
    color: white;
    display: flex;
    text-decoration: none;
  
}
.container-buttons{
    display: flex;
    gap: 15px;
    padding: 30px;
}


span {


    color: white;
    font-size: 20px;
}






